---
---

@import "normalize";
@import "sassline";

// Style variables
$color--heading: {{ site.colour }};
$color--copy: lighten($color--heading, 29%);
$color--background: #ffffff;

body {
  color: $color--copy;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

h1, h2, h3, h4, h5, h6 {
  color: $color--heading;
}

.button {
  cursor: pointer;
  display: inline-block;
  color: $color--copy;
  padding: .5rem 1.2rem;
  border: 3px solid $color--heading;
  border-radius: 100px;
  transition: .3s;
  &:hover {
    color: $color--copy;
    border-color: $color--copy;
  }
}

.list {
  &--unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
    .item--unstyled {
      margin: 0;
    }
  }
}

.item {
  &--unstyled {
    margin: 0;
  }
  &--tile {
    padding: 1.2rem 1.6rem;
    background: fade-out($color--background, 0.65);
  }
}
