{% capture background %} style="background-color:{{ page.pricing.background_colour }}; background-image:url({{ page.pricing.background_path }}); background-position: center center; background-size: cover"{% endcapture %}

<section class="block  block--pricing  block--text-align-center" {{ background }}>

	<article class="block__article  article  article--arrange-center  content-arrange  article--text-shade-light  typeset">

		{% if page.pricing.tier_1 %}
		<div class="block__price-tier  price-tier">
			<h3>Tier 1</h3>
			<ul class="block__list  list--price-tier">
				{% for item in page.pricing.tier_1 %}
				<li>
					<p>{{ item }}</p>
				</li>
				{% endfor %}
			</ul>
			<a class="button">Something</a>
		</div>
		{% endif %}

		{% if page.pricing.tier_2 %}
		<div class="block__price-tier  price-tier">
			<h3>Tier 1</h3>
			<ul class="block__list  list--price-tier">
				{% for item in page.pricing.tier_2 %}
				<li>
					<p>{{ item }}</p>
				</li>
				{% endfor %}
			</ul>
			<a class="button">Something</a>
		</div>
		{% endif %}

		{% if page.pricing.tier_3 %}
		<div class="block__price-tier  price-tier">
			<h3>Tier 1</h3>
			<ul class="block__list  list--price-tier">
				{% for item in page.pricing.tier_3 %}
				<li>
					<p>{{ item }}</p>
				</li>
				{% endfor %}
			</ul>
			<a class="button">Something</a>
		</div>
		{% endif %}

	</article>

</section>
