{% capture background %} style="background-color:{{ page.intro.background_colour }}; background-image:url({{ page.intro.background_path }}); background-position: center center; background-size: cover"{% endcapture %}

<section class="block  block--intro  block--text-align-center" {{ background }}>

	<header class="block__header  header">
		{% if page.intro.logo_path %}
		<div class="logo">
		  <img src="{{ page.intro.logo_path }}" />
		</div>
		{% endif %}
	</header>

	<article class="block__article  article  article--text-shade-light  typeset">
		{% if page.intro.heading %}
		<h1>{{ page.intro.heading }}</h1>
		{% endif %}

		{% if page.intro.description %}
		<p>{{ page.intro.description }}</p>
		{% endif %}

		{% if page.intro.button_line %}
		<a class="button" href="{% if page.intro.button_url %}{{ page.intro.button_url }}{% else %}#{% endif %}">{{ page.intro.button_line }}</a>
		{% endif %}

	</article>

	<footer class="block__footer  footer">
		{% if page.intro.footer %}
		<img src="" alt="icon"/> <p>{{ page.intro.footer }}</p>
		{% endif %}
	</footer>

</section>
