{% capture background %} style="background-color:{{ page.pricing.background_colour }}; background-image:url({{ page.pricing.background_path }}); background-position: center center; background-size: cover"{% endcapture %}

<section class="block  block--pricing  block--text-align-center" {{ background }}>

	<div class="container  content-arrange">

		{% if page.pricing.tier_1 %}
		<article class="block__article  article  article--arrange-left  article--text-shade-light  article--tile  typeset">
			<h3>Tier 1</h3>
			<ul class="block__list  list  list--price-tier  list--unstyled">
				{% for item in page.pricing.tier_1 %}
				<li class="item  item--unstyled">
					<p>{{ item }}</p>
				</li>
				{% endfor %}
			</ul>
			<a class="button">Something</a>
		</article>
		{% endif %}

		{% if page.pricing.tier_2 %}
		<article class="block__article  article  article--arrange-left  article--text-shade-light  article--tile  typeset">
			<h3>Tier 1</h3>
			<ul class="block__list  list  list--price-tier  list--unstyled">
				{% for item in page.pricing.tier_2 %}
				<li class="item  item--unstyled">
					<p>{{ item }}</p>
				</li>
				{% endfor %}
			</ul>
			<a class="button">Something</a>
		</article>
		{% endif %}

		{% if page.pricing.tier_3 %}
		<article class="block__article  article  article--arrange-left  article--text-shade-light  article--tile  typeset">
			<h3>Tier 1</h3>
			<ul class="block__list  list  list--price-tier  list--unstyled">
				{% for item in page.pricing.tier_3 %}
				<li class="item  item--unstyled">
					<p>{{ item }}</p>
				</li>
				{% endfor %}
			</ul>
			<a class="button">Something</a>
		</article>
		{% endif %}

	</div>

</section>
