{% capture background %} style="background-color:{{ page.features.background_colour }}; background-image:url({{ page.features.background_path }}); background-position: center center; background-size: cover"{% endcapture %}

<section class="block  block--features  block--text-align-left" {{ background }}>

	<article class="block__article  article  article--arrange-center  typeset">
		{% if page.features.items %}
		<ul class="block__list  list  list--features  list--unstyled  content-arrange">
			{% for feature in page.features.items %}
			<li class="item  item--tile">
				<h2>{{ feature.title }}</h2>
				<p>{{ feature.description }}</p>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</article>

</section>
