<section class="block  block--pricing  block--text-align-left">

	<article class="block__article  article  article--arrange-center">
		<div class="block__price-tier  price-tier">
			<h3>Something</h3>
			<ul class="block__list  list--price-tier">
				<li>
					<p>Something</p>
				</li>
				<li>
					<p>Something</p>
				</ol>
				<li>
					<p>Something</p>
				</li>
				<a class="button">Something</a>
			</ul>
			<a class="button">Something</a>
		</div>
		<div class="block__price-tier  price-tier">
			<h3>Something</h3>
			<ul class="block__list  list--price-tier">
				<li>
					<p>Something</p>
				</li>
				<li>
					<p>Something</p>
				</ol>
				<li>
					<p>Something</p>
				</li>
				<a class="button">Something</a>
			</ul>
		</div>
		<div class="block__price-tier  price-tier">
			<h3>Something</h3>
			<ul class="block__list  list--price-tier">
				<li>
					<p>Something</p>
				</li>
				<li>
					<p>Something</p>
				</ol>
				<li>
					<p>Something</p>
				</li>
				<a class="button">Something</a>
			</ul>
		</div>
	</article>

</section>
