{% capture background %} style="background-color:{{ page.devices.background_colour }}; background-image:url({{ page.devices.background_path }}); background-position: center center; background-size: cover"{% endcapture %}

<section class="block  block--devices  block--text-align-center" {{ background }}>

	<article class="block__article  article  typeset">
		{% if page.devices.heading %}
		<h2>{{ page.devices.heading }}</h2>
		{% endif %}

		{% if page.devices.description %}
		<p>{{ page.devices.description }}</p>
		{% endif %}

		{% if page.devices.button_line %}
		<a class="button" href="{% if page.devices.button_url %}{{ page.devices.button_url }}{% else %}#{% endif %}">{{ page.devices.button_line }}</a>
		{% endif %}
	</article>

	<article class="block__article  article">
		{% if page.devices.image %}
		<img src="{{ page.devices.image }}" alt="devices"/>
		{% endif %}
	</article>

</section>
