{% if include.background %}
	{% if include.background contains "#" %}
		{% capture background %} style="background:{{ include.background }}"{% endcapture %}
	{% else %}
		{% capture background %} style="background:url({{ include.background }}) center center; background-size: cover"{% endcapture %}
	{% endif %}
{% else %}
  {% capture background %}{% endcapture %}
{% endif %}

<section class="block{% if include.text-align %}  block--text-align-{{ include.text-align }}{% endif %}{% if include.id %}  block--{{ include.id }}{% endif %}"{{ background }}{% if include.id %}  id="{{ include.id }}"{% endif %}>

  {% if include.header %}
  <header class="block__header  header">

    {% if include.logo %}
      {% include logo.html %}
    {% endif %}

    {% if include.nav %}
      {% include navigation.html %}
    {% endif %}

  </header>
  {% endif %}

  <article class="block__article  article  typeset{% if include.text-shade %}  article--text-shade-{{ include.text-shade }}{% endif %}{% if include.content-arrange %}  article--content-arrange{% endif %}">
    {{ include.content }}
  </article>

  {% if include.footer %}
  <footer class="block__footer  footer">

    {% if include.copyright %}
      {% include copyright.html %}
    {% endif %}

    {% if include.nav %}
      {% include navigation.html %}
    {% endif %}

  </footer>
  {% endif %}
</section>
